


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




body{

    font-family: 'Poppins',sans-serif;
}


.circleDiv{
    background: #EBEE4B;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 15px;
}

.greetingDiv{
   /* text-align:center;*/
   margin-top: -95px;
    /* margin-right: 90px; */
    text-align: left;
    margin-left: 67px;
}

h1{
    font-size:19px;
    text-align: left;
}


.greetingP{
    margin-top: -12px;
    color: #9B8A8A;
}



#containerStatsDiv{

    display: flex;
    justify-content: center;
    align-items: center;
}

#allStatsDiv{
    

    margin-top: 65px;
}



.urgentStats{

    background:#FFFFFF;
    filter:drop-shadow(28px 28px 50px rgb(13 39 80 / 15%)) drop-shadow(-23px -23px 45px #ffffff);

    width:50vh;
    height:15vh;


    margin-bottom: 38px;

    padding-top: 29px;
    padding-left: 12px;
}


.nonUrgentStats{

    background:#FFFFFF;
    filter:drop-shadow(28px 28px 50px rgb(13 39 80 / 15%)) drop-shadow(-23px -23px 45px #ffffff);

    width:50vh;
    height:15vh;

    margin-bottom: 38px;

    padding-top: 29px;
    padding-left: 12px;

}

.completedStats{

    background:#FFFFFF;
    filter:drop-shadow(28px 28px 50px rgb(13 39 80 / 15%)) drop-shadow(-23px -23px 45px #ffffff);

    width:50vh;
    height:15vh;


    margin-bottom: 38px;

    padding-top: 29px;
    padding-left: 12px;

}


#urgentStatSpan{
    font-weight: bold;

    margin-top: 5px;
}


 a{
    text-decoration: none;
    color:#000000;
}

a:visited {
   color: rgb(54, 53, 53);
  }





.circleDivSmall{

    background: #EBEE4B;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    margin-top: -17px;
    margin-left: -4px;


    margin-bottom: -13px;/*if we want circle & numbers to overlap slightly*/
}

span{
    color:rgb(3, 19, 3);
    font-weight: bold;
}



#divForCircleBottom{
    display:flex; 
    
    justify-content: center;
    align-items: center;
}

.circleDivBottom{


    background: #EBEE4B;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    
   
}


#goalMsgDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}

#goalMsg{
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 5px;
}


#goalDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}

#goal{
    color: #9B8A8A;
}


#changeGoalBtnDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}


#changeGoalBtn{
    background: #EBEE4B;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;

    font-family:'Poppins',sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;

    margin-top: 25px;
}


#changeGoalBtn:hover,
#changeGoalBtn:focus {
    background: #0053ba;
}

#changeGoalBtn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#changeGoalBtn:active {
    transform: scale(0.99);
}


.modal{
    position: fixed;
    top: 50%;
    left:50%;
    /*display: flex;
     justify-content: center;
     align-items: center;*/
     transform:translate(-50%, -50%);
     background-color: rgb(118 180 165);
     
     z-index:10;
     width: 500px;
     max-width: 80%;
     /*padding: 10px;*/

     display: none;


}



.modal-header0{
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid black;*/
    background:rgb(250, 250, 250);
  
    margin-bottom: -33px;
    border:0px;
  }

  .modal-header{
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid black;*/
    background:rgb(250, 250, 250);
     border:0px;
    position: relative;
    margin-top: -1px;
  }


  .modal-header::after{
    position:absolute;
    width:20px;
    height:20px;
    border-top: 0px solid #ffff;
    border-left: 0px solid #ffff;
    top: 100%;
    left:50%;
    margin-left: -9px;
    content: '';
    transform:rotate(45deg);
    margin-top: -10px;

    background:rgb(250, 250, 250);

} 

  

  .modal-header2{
    
    color: #053328;
    font-weight: bold;
    text-align:center;
    background: rgb(250, 250, 250);
    margin-top: -25px;
  }
  
  .modal-header2::after{
      position:relative;
      width:20px;
      height:20px;
      border-top: 0px solid #ffff;
      border-left: 0px solid #ffff;
      top: 100%;
      left:50%;
      margin-left: -25px;
      content: '';
      transform:rotate(45deg);
      margin-top: -10px;
  
      background:rgb(250, 250, 250);
  
  }
#modalBody{
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
     align-items: center;
     

}


.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0, 50%);

    pointer-events: none;
}

#overlay.active{
   pointer-events: all;
    opacity: 1;
}



#iconDiv{
    justify-content: center;
    align-items: center;
    display: felx;
    display: flex;
    margin-top: 25px;
}

.fa-check-circle{
   font-size: 3em;
   color: #76b4a5;
}



#modalMsg1{
    display:flex;
    justify-content: center;
    align-items:center;

    font-size:1em;
    font-weight:bold;
    color: black;
}


#modalMsg{
    display:flex;
    justify-content: center;
    align-items:center;

    font-size:1em;
    color: black;
    font-weight:lighter;
}

#modalBodyQuestion{
    display: flex;
    justify-content:center;
    align-items:center;

    text-align: center;
    margin-top: -70px;
    margin-bottom: 15px;

    font-size: 14px;
    padding: 5px;

}


#modalInput{
    display:flex;
    justify-content:center;
    align-items:center;

    
    margin-bottom: 15px;

} 

.mainGoalInput{
   
}


.addNewGoal {

    padding: 1.25rem;
    background-color: var(--bg-color);
    box-shadow: var(--nm);
    border: none;


    color:#ffeb3b;
    cursor: pointer;
    transition: all 0.3s ease;

}
